
//
// VARIABLES
//

// Colors
$phpf-blau: #305384;
$phpf-rot: #B73042;
$phpf-lila: #7E3084;
$phpf-orange: #C45913;
$phpf-gruen: #B7B230;

$family-primary: "PT Sans";
$primary:  $phpf-blau;
$info:     $phpf-gruen;
$success:  $phpf-lila;
$warning:  $phpf-orange;
$danger:	$phpf-rot;

$bfs: 1.5rem;
$size-normal: $bfs;